@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 1200px) {
  #pokemons-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1000px) {
  #pokemons-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  #pokemons-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  #pokemons-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 400px) {
  #pokemons-list-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
